<div id="<%= dom_id indicated_talent %>">
  <p>
    <strong>Full name:</strong>
    <%= indicated_talent.full_name %>
  </p>

  <p>
    <strong>Talent options:</strong>
    <%= indicated_talent.talent_options %>
  </p>

  <p>
    <strong>Matric no:</strong>
    <%= indicated_talent.matric_no %>
  </p>

  <p>
    <strong>User:</strong>
    <%= indicated_talent.user_id %>
  </p>

</div>
